<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Numeros Primos </title>
</head>
<body>
  <!-- Crear un contenedor que contendrá los rectángulos -->
  <div class="contenedor">
    <div class="rectangulo rectangulo1">2</div>
    <div class="rectangulo rectangulo2">3</div>
    <div class="rectangulo rectangulo3">5</div>
    <div class="rectangulo rectangulo4">7</div>
    <div class="rectangulo rectangulo5">11</div>

    <div class="rectangulo rectangulo6">13</div>
    <div class="rectangulo rectangulo7">17</div>
    <div class="rectangulo rectangulo8">19</div>
    <div class="rectangulo rectangulo9">23</div>
    <div class="rectangulo rectangulo10">29</div>

    <div class="rectangulo rectangulo11">31</div>
    <div class="rectangulo rectangulo12">37</div>
    <div class="rectangulo rectangulo13">41</div>
    <div class="rectangulo rectangulo14">43</div>
    <div class="rectangulo rectangulo15">47</div>

    <div class="rectangulo rectangulo16">53</div>
    <div class="rectangulo rectangulo17">59</div>
    <div class="rectangulo rectangulo18">61</div>
    <div class="rectangulo rectangulo19">67</div>
    <div class="rectangulo rectangulo20">71</div>

    <div class="rectangulo rectangulo21">73</div>
    <div class="rectangulo rectangulo22">79</div>
    <div class="rectangulo rectangulo23">83</div>
    <div class="rectangulo rectangulo24">89</div>
    <div class="rectangulo rectangulo25">97</div>
  </div>

</body>
</html>